.header-menu {
  display: flex;
  gap: 39px;
  margin: 0;
  padding: 7px 0 0;
  list-style: none;

  &__item {
    fill: var(--primary);
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--primary);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;

    &_accent {
      fill: var(--accent);
      color: var(--accent);
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
