.sources {
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__list {
    gap: 30px;
  }

  &__icon {
    fill: var(--primary);
    width: 24px;
    height: 24px;

    &_bigger {
      width: 30px;
      height: 30px;
    }

    &:hover {
      fill: var(--accent);
    }
  }
}
