@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('../public/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
        url('../public/fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('../public/fonts/SourceSerifPro-SemiBold.woff2') format('woff2'),
        url('../public/fonts/SourceSerifPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

