:root {
  //main colors
  --primary: #222;
  --accent: #7247CA;
  --hover: #58379B;

  // neutral colors
  --darkgray: #555;
  --gray: #979797;
  --lightgray01: #F5F5F7;
  --lightgray02: #EAEAEE;

  // service colors
  --error: #ff3636;
}
